.chat-item {
    display: flex;
    padding: 5px 10px;
    margin: 4px 8px;
    border-radius: 7px;
    text-decoration: none;
    color: #e8e8e8;
    align-items: center;
    transition: background-color 0.2s ease;
    -webkit-transition: background-color 0.2s ease;
    -moz-transition: background-color 0.2s ease;
    -ms-transition: background-color 0.2s ease;
    -o-transition: background-color 0.2s ease;
}

.chat-item:hover {
    background-color: #3b3b3b;
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin-right: 10px;
}

.chat-info {
    flex-grow: 1;
    overflow: hidden;
}

.chat-name {
    font-weight: 600;
    font-size: 1rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.chat-status {
    font-size: 0.8rem;
    color: green;
}

.chat-last-message {
    font-size: 0.85rem;
    color: #e8e8e8;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.chat-time {
    font-size: 0.75rem;
    color: #e8e8e8;
    margin-left: 10px;
    white-space: nowrap;
}