.chat-window {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    background: #ece5dd;
    height: 100vh;
}

.chat-window.empty {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #777;
    font-size: 1.2rem;
    font-weight: 600;
}