.chat-input {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    border-top: 1px solid #ddd;
    background: #f7f7f7;
}

.chat-input input {
    flex-grow: 1;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    border: 1px solid #ccc;
    margin: 0 10px;
    font-size: 1rem;
}

.icon {
    background: none;
    border: none;
    font-size: 1.3rem;
    cursor: pointer;
    color: #e8e8e8;
}

.send-btn {
    background-color: #25d366;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    color: white;
    border: none;
    width: 36px;
    height: 36px;
    font-size: 1.2rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}